
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    padding: 0;
    margin: 0;

}
html{
    background-image: url('./back.jpg');

    background-size:cover;
}
body{
    font-family: 'Black Ops One', cursive;
    width: 100vw;
    height: 90vh;
    /* background-image: linear-gradient(90deg,skyblue,rgb(75, 219, 219)); */
}
.container{
    /* width: 30rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

}
h3{
    font-size:xx-large;
}
input{
    
    border-radius:1.5rem;
    line-height: 2.5rem;
     text-transform: capitalize;
    padding:0 1rem;
    font-size: x-large;
    border: 1px solid whitesmoke;
     color: rgba(0, 0, 0, 0.651);
  /* color:black; */
    
  background-color:white;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 28rem;
    /* border: .2rem solid grey; */
    background-color: white;
    border-radius: 1rem;
}
.para{
  color:black;
    
    font-weight: 600;
    font-size: xx-large;
    text-transform: capitalize;
}
h3 span{
    font-size: 4rem;
    color:rebeccapurple;
}
.img{
    position: relative;
    top: -2.5rem;
    /* width:5rem; */
    display: flex;
    flex-wrap: wrap;
}
.imgText{
    position: relative;
    top: -1.7rem;
    font-size:small;
    color: rgba(235, 164, 12, 0.904);
}
.fa-solid{
    font-size: 5rem;
    position: relative;
    top: -1.5rem;
  color:black;
}
.temp{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* padding: 10px; */
    margin: 55px 0;
    width: 20rem;
}
.temp >p{
    position: relative;
    left: 4rem;
    font-size: 2.4rem;
  color:black;
}
.otherdesc{
    color: #000000d8;
    width: 19rem;
    display: flex;
    justify-content: space-between;

    
}
.minmax p{
    font-weight:500;
    color: #000000ab;
}
.footer{
    margin-top: 30px;
    color: #00000081;
}
